<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/public/css/viewUsuario.css">
    <title>Document</title>
</head>
<body>
    <form class="login" action="">
        <div>
            <label for="">Usuario</label>
        <input type="text">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="text">
        </div>
        <button type="button">Iniciar Sesión</button>
        <p>¿No tiene cuenta?</p>
    </form>
  

    <form class="register" action="">
        <div>
            <label for="">Nombre</label>
        <input type="text">
        </div>
        <div>
            <label for="">Usuario</label>
            <input type="text">
        </div>
        <div>
            <label for="">Correo</label>
            <input type="text">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="text">
        </div>
        <div>
            <label for="">Confirmar Contraseña</label>
            <input type="text">
        </div>
        <button type="button">Registrase</button>
        <p>¿Ya tiene cuenta?</p>
    </form>

    <script src="/views/public/js/script.js"></script>
</body>
</html>